<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">

</header>

<div class="container" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Onsite: Campaigns and Placements</h1>

        <table st-table="rowCollectionDisplay" st-safe-src="data" class="table table-striped table-bordered" style="width:90%;margin-left:10px;margin-top:10px">
            <thead>
            <tr>
                <th st-sort="Ercc">Campaign Code</th>
                <th st-sort="Impressions">Impressions</th>
                <th st-sort="Clicks">Clicks</th>
            </tr>
            <tr>
                <th colspan="3">
                    <input st-search="" placeholder="global search" class="input-sm form-control" type="search" />
                </th>
            </tr>
            </thead>

            <!--<tr ng-repeat="row in rowCollectionDisplay">
                <td>{{row.Ercc | uppercase}}</td>
                <td>{{row.Impressions}}</td>
            </tr>-->

            <tr ng-repeat-start="row in rowCollectionDisplay">
                <td ng-click="row.collapseRows = !row.collapseRows" class="collapsible-row"> {{row.Ercc | uppercase}}
                    <span ng-class="{'caret':!row.collapseRows, 'right-caret':row.collapseRows}"></span>
                </td>
                <td>{{row.Impressions}}</td>
                <td>{{row.Clicks}}</td>

            </tr>
            <tr ng-repeat-start="mpid in row.Mpid">
                <td style="padding-left:150px" ng-hide="row.collapseRows">{{mpid.mpid}}</td>
                <td ng-hide="row.collapseRows">{{mpid.Impressions}}</td>
                <td ng-hide="row.collapseRows">{{mpid.Clicks}}</td>
            </tr>
            <tr ng-repeat-end=""></tr>
            <tr ng-repeat-end=""></tr>


            </tbody>
        </table>
    </div>
  </div>
</div>
